# Exploratory Data Analysis - *Hotel Bookings*

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [3]:
import os
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 'Exploratory Data Analysis Pt-1.ipynb',
 'Exploratory Data Analysis Pt-2.ipynb',
 'Exploratory Data Analysis Pt-3.ipynb',
 'Food and Calories - Sheet1.csv',
 'hotel_bookings.csv',
 'pokemon.png',
 'pokemons.csv']

In [7]:
# ANSI Escape Codes for BOLD and Resetting formatting - to be used in print() method ..

B = "\033[1m"
R = "\033[0m"

In [23]:
# To avoid the data read error for UTF and other formats ..
import chardet

with open("hotel_bookings.csv", 'rb') as f:
    raw_data = f.read()
    result = chardet.detect(raw_data)
    detected_encoding = result['encoding']
    print(f"Detected encoding: {B}{detected_encoding}{R}")

Detected encoding: ascii

In [24]:
data = pd.read_csv("hotel_bookings.csv", encoding = detected_encoding)
print("Dataset has been read successfully.")

Dataset has been read successfully.

In [76]:
data.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
95873,City Hotel,0,1,2016,August,35,23,0,2,2,...,No Deposit,152.0,NaN,0,Transient,95.65,0,0,Check-Out,2016-08-25
20110,Resort Hotel,0,1,2016,November,45,4,0,1,2,...,No Deposit,NaN,NaN,0,Transient,70.00,0,2,Check-Out,2016-11-05
53301,City Hotel,1,77,2016,June,25,17,0,2,2,...,No Deposit,9.0,NaN,0,Transient,116.10,0,0,Canceled,2016-05-24
52299,City Hotel,1,110,2016,June,23,3,0,1,2,...,No Deposit,9.0,NaN,0,Transient-Party,143.10,0,0,Canceled,2016-05-12
17000,Resort Hotel,0,239,2015,September,38,19,1,1,2,...,No Deposit,248.0,NaN,0,Transient-Party,80.00,0,0,Check-Out,2015-09-21
43812,City Hotel,0,56,2015,September,39,25,2,2,2,...,No Deposit,44.0,NaN,0,Transient-Party,185.00,0,0,Check-Out,2015-09-29
8707,Resort Hotel,0,337,2016,October,42,9,2,5,2,...,No Deposit,273.0,NaN,101,Transient-Party,67.99,0,0,Check-Out,2016-10-16
109248,City Hotel,0,198,2017,April,14,6,0,3,2,...,No Deposit,9.0,NaN,0,Transient,117.00,0,1,Check-Out,2017-04-09
60942,City Hotel,1,34,2016,November,49,27,2,1,2,...,No Deposit,NaN,NaN,0,Transient-Party,75.00,0,0,Canceled,2016-11-25
97673,City Hotel,0,98,2016,September,38,16,1,2,2,...,No Deposit,85.0,NaN,0,Transient,80.75,0,0,Check-Out,2016-09-19

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            1045 non-null   object
 1   Name2           175 non-null    object
 2   Primary Type    1045 non-null   object
 3   Secondary type  553 non-null    object
 4   Attack          1045 non-null   int64
 5   Defense         1045 non-null   int64
 6   HP              1045 non-null   int64
 7   Sp.Attack       1045 non-null   int64
 8   Sp.Defense      1045 non-null   int64
 9   Speed           1045 non-null   int64
 10  Total           1045 non-null   int64
dtypes: int64(7), object(4)
memory usage: 89.9+ KB

In [27]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_year,119390.0,2016.156554,0.707476,2015.00,2016.00,2016.000,2017.0,2017.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
arrival_date_day_of_month,119390.0,15.798241,8.780829,1.00,8.00,16.000,23.0,31.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_week_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

In [28]:
print(f"Summary of NULL Values found in the dataset : \n{B}{data.isna().sum()}{R}")

Summary of NULL Values found in the dataset :
hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [37]:
print(f"\nSummary of percentage of {B}NULL values{R} found in the features :\n")
for col in data.columns:
    null_percentage = round((data[col].isnull().sum()/len(data) * 100), 2)
    if null_percentage > 0:
        print(f"{col:<10} : {B}{null_percentage}{R}")

Summary of percentage of NULL values found in the features :

country    : 0.41
agent      : 13.69
company    : 94.31

In [74]:
print(f"\nSummary of percentage of {B}duplicate values{R} found in the features :\n")
for col in data.columns:
    duplicate_percentage = round((data[col].duplicated().sum()/len(data) * 100), 2)
    if duplicate_percentage > 0:
        print(f"{col:<30} : {B}{duplicate_percentage}{R}")

Summary of percentage of duplicate values found in the features :

hotel                          : 100.0
is_canceled                    : 100.0
lead_time                      : 99.6
arrival_date_year              : 100.0
arrival_date_month             : 99.99
arrival_date_week_number       : 99.96
arrival_date_day_of_month      : 99.97
stays_in_weekend_nights        : 99.99
stays_in_week_nights           : 99.97
adults                         : 99.99
children                       : 99.99
babies                         : 100.0
meal                           : 100.0
country                        : 99.85
market_segment                 : 99.99
distribution_channel           : 100.0
is_repeated_guest              : 100.0
previous_cancellations         : 99.99
previous_bookings_not_canceled : 99.94
reserved_room_type             : 99.99
assigned_room_type             : 99.99
booking_changes                : 99.98
deposit_type                   : 100.0
agent                          : 99.72
company                        : 99.7
days_in_waiting_list           : 99.89
customer_type                  : 100.0
adr                            : 92.56
required_car_parking_spaces    : 100.0
total_of_special_requests      : 99.99
reservation_status             : 100.0
reservation_status_date        : 99.22

In [75]:
print(f"\nSummary of percentage of {B}Unique values{R} found in the features :\n")
for col in data.columns:
    unique_percentage = round((data[col].nunique()/len(data) * 100), 2)
    if unique_percentage > 0:
        print(f"{col:<30} : {B}{unique_percentage}{R}")

Summary of percentage of Unique values found in the features :

lead_time                      : 0.4
arrival_date_month             : 0.01
arrival_date_week_number       : 0.04
arrival_date_day_of_month      : 0.03
stays_in_weekend_nights        : 0.01
stays_in_week_nights           : 0.03
adults                         : 0.01
country                        : 0.15
market_segment                 : 0.01
previous_cancellations         : 0.01
previous_bookings_not_canceled : 0.06
reserved_room_type             : 0.01
assigned_room_type             : 0.01
booking_changes                : 0.02
agent                          : 0.28
company                        : 0.29
days_in_waiting_list           : 0.11
adr                            : 7.44
total_of_special_requests      : 0.01
reservation_status_date        : 0.78